.export-button-container {
  display: flex; /* Use flexbox */
  align-items: center;
  margin: 10px 0;
  height: 46px; /* Ensure same height for all button containers */
  margin: 5px;
}

.export-button {
  padding: 10px;
  background: linear-gradient(to bottom, orange, rgb(213, 70, 3));
  border: none;
  border-radius: 5px;
  width: auto; /* Adjust width to auto */
  color: rgb(241, 235, 235);
  height: 100%; /* Ensure buttons take up the full height of their containers */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.export-button:hover{
  background: linear-gradient(to bottom, rgb(255, 179, 0) rgb(213, 70, 3));
  color: white;
}

.export-button:disabled {
  background-color: grey;
  cursor: not-allowed;
  background: linear-gradient(to bottom, white, lightgrey);
  padding: 10px;
  color: darkgray;
  font-weight: bold;
  
}


