# Ignore node_modules directory
**/node_modules/

# Ignore build artifacts
build/
dist/

# Ignore npm/yarn cache
.npm/
.yarn/
.pnp/

# Ignore development-related files
.DS_Store
# .env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor-specific files
.vscode/
.idea/

# Ignore tests or testing-related files
coverage/

# Ignore git files if not already in the .gitignore
.git/
.gitignore