.pointtopoint_container {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ptp_row
  {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ptp_label{
    font-size: 20px;
    font-weight: bold;
    padding-right: 5%;
  }

  /* This is here because altering the style in waypoint.css didn't work */
  .waypoint{
    display: flex;
  }

  .checkbox{
    background-color: #198754;
  }

  .upDownWrapper{
    flex-direction: column;
    display: flex;
  }

  .addbtn{
    width: 332px;
    margin: 10px 20px 10px 20px;

  }

  .upbtn{
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .downbtn{
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .removebtn{
    height: 30px;
  }

  .waypoints_container{
    margin-top: 20px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  body {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }