.pointtopoint_container {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
  }

  .ptp_row
  {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ptp_label{
    font-size: 20px;
    font-weight: bold;
    padding-right: 3px;
    padding-left:12px;
  }

  .ptp_label_end{
    font-size: 20px;
    font-weight: bold;
    padding-left: 17px;
    padding-right: 10px;
  }

  /* This is here because altering the style in waypoint.css didn't work */
  .waypoint{
    display: flex;
  }

  .checkbox{
    background-color: #198754;
  }

  .upDownWrapper{
    flex-direction: column;
    display: flex;
    padding-left: 2px;
    padding-bottom: 15px;
  }

  .addbtn{
    width: 200px;
    margin: 10px 20px 10px 20px;

  }

  .upbtn{
    height: 17px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#198754;
    border-color: #198754;
  }

  .upbtn:hover{
    color:#ffffff;
    border-color: #198754;
    background-color: #198754;
  }
  
  .downbtn{
  height: 17px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#198754;
  border-color: #198754;
}

.downbtn:hover{
  color:#ffffff;
  border-color: #198754;
  background-color: #198754;
}

  .removebtn{
    height: 42px;
    width: 42px;
  }


  .waypoints_container{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  body {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }