.sidebar {
    position: fixed;
    top: 0;
    left: -350px; /* Start hidden off-screen */
    width: 350px;
    height: 100%;
    background-color: #f9faf3;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    border-radius: 0 40px 40px 0;

  }
  
  .sidebar.open {
    left: 0;
  }
  
  .toggle-btn {
    position: absolute;
    background-color: #f9faf3;
    top: calc(50vh - 100px);
    right: -40px;
    transform-origin: top right;
    height: 200px;
    border-radius: 0 40px 40px 0;
    border-color:  #f9faf3;
    box-shadow: 0 5px rgba(0,0,0,0.5);
  }
  
  .toggle-btn.hovered {
    background-color: #f9faf3;
    border-color:  #f9faf3;
  }

  .toggle-btn:hover {
    background-color: #e7e4e4;
    border-color:  #f9faf3;
  }

  .sidebar-content {
    padding: 20px;
  }
  
  .busy_go_row {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .container_title{
    font-size: 38px;
    font-weight: bold;
  }

  .toggle_title_row{
    display: flex;
  }
  .ptp_box.open, .loop_box.open {
    display: block;
  }
  
  .ptp_box.closed, .loop_box.closed {
    display: none;
  }

.ptp_wrapper, .loop_wrapper {
  border-bottom: 1px solid black;
}

/* After MVP: Remove this id styling once the loop functionality is ready */
#loop_toggle_title_row{
  display:none;
}