.sidebar {
  position: fixed;
  top: 0;
  left: -350px; /* Start hidden off-screen */
  width: 350px;
  height: 100%;
  background-color: #2e323f;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transition: left 1s ease; /* Slower transition duration */
  z-index: 1000;
  border-radius: 0 20px 20px 0;
}

.sidebar.night {
  position: fixed;
  top: 0;
  left: -350px; /* Start hidden off-screen */
  width: 350px;
  height: 100%;
  background-color: #2e323f;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transition: left 1s ease; /* Slower transition duration */
  z-index: 1000;
  border-radius: 0 20px 20px 0;
  color: rgb(224, 221, 221);
}

.sidebar.day {
  position: fixed;
  top: 0;
  left: -350px; /* Start hidden off-screen */
  width: 350px;
  height: 100%;
  background-color: #f9faf3;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transition: left 1s ease; /* Slower transition duration */
  z-index: 1000;
  border-radius: 0 20px 20px 0;
  color: rgb(0, 0, 0);
}

.sidebar.open {
  left: 0;
}

.toggle-btn {
  position: absolute;
  top: calc(50vh - 100px);
  right: -36px;
  transform-origin: top right;
  height: 200px;
  border-radius: 0 40px 40px 0;
  background-color: #2e323f;
  box-shadow: 0 5px rgba(0,0,0,0.5);
  border-color: #2e323f;
  color: #198754;
}

.toggle-btn.night {
  position: absolute;
  top: calc(50vh - 100px);
  right: -36px;
  transform-origin: top right;
  height: 200px;
  border-radius: 0 40px 40px 0;
  background-color: #2e323f;
  box-shadow: 0 5px rgba(0,0,0,0.5);
  border-color: #2e323f;
  color: #198754;
}

.toggle-btn.day {
  position: absolute;
  top: calc(50vh - 100px);
  right: -36px;
  transform-origin: top right;
  height: 200px;
  border-radius: 0 40px 40px 0;
  background-color: #f9faf3;
  box-shadow: 0 5px rgba(0,0,0,0.5);
  border-color: #f9faf3;
  color: #198754;
}

.sidebar-content {
  padding: 20px;
}

.busy_go_row {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.container_title {
  font-size: 38px;
  font-weight: bold;
}

.toggle_title_row {
  display: flex;
}

.toggle-btn:hover {
  background-color: #444a5c;
  border-color: #444a5c;
  color: #31b678;
}

.toggle-btn.night:hover {
  background-color: #444a5c;
  border-color: #444a5c;
  color: #31b678;
}

.toggle-btn.day:hover {
  background-color: #e7e4e4;
  border-color: #e7e4e4;
  color: #31b678;
}

.ptp_box, .loop_box {
  max-height: 0;
  /* overflow: hidden; */
  transition: max-height 2s ease, opacity 2s ease;
  opacity: 0;
}

.ptp_box.open, .loop_box.open {
  max-height: 500px; /* Adjust based on the content height */
  opacity: 1;
}

.ptp_box.closed, .loop_box.closed {
  max-height: 0;
  opacity: 0;
}

.ptp_wrapper, .loop_wrapper {
  border-bottom: 1px solid black;
}
.sidebar {
  color: rgb(224, 221, 221);
}

.container_title {
  color: rgb(224, 221, 221);
}

.container_title.night {
  color: rgb(224, 221, 221);
}

.container_title.day {
  color: rgb(0, 0, 0);
}

.sidebar_logo img {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 25px;
  filter: grayscale(35%);
}
/* After MVP: Remove this id styling once the loop functionality is ready */
#loop_toggle_title_row {
  display: none;
}

.night-export-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}