.weather_panel {
    display: grid;
    grid-template-areas: 
        "icon temp"
        "icon wind"
        "icon epa";
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
    background-image: linear-gradient(to bottom, #4a90e2, #2962a8);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 750;
    box-shadow: 0 0 10px rgba(46, 32, 32, 0.527);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.weather_icon {
    width: 80px;
    height: 80px;
    grid-area: icon;
}

.weather_icon img {
    width: 100%;
    height: 100%;
}

.temperature {
    grid-area: temp;
    font-size: 36px;
    margin-left: 10px;
    font-weight: bold;
    font-style: italic;
}

.description {
    grid-area: epa;
    font-size: 15px;
    margin-left: 10px;
}

.alert_panel {
    font-style: normal;
    display: grid;
    grid-template-areas: 
        "icon epa";
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    position: fixed;
    bottom: 150px;
    right: 20px;
    z-index: 750;
    box-shadow: 0 0 10px rgba(46, 32, 32, 0.527);
    text-align: center;
    cursor: pointer;
}

.alert_panel.blue {
    background-image: linear-gradient(to bottom, #4a90e2, #2962a8);
}

.alert_panel.red {
    background-image: linear-gradient(to bottom, #e24a5e, #a8293a);
}

.epa_icon {
    width: 40px;
    height: 40px;
    grid-area: icon;
}

.epa_icon img {
    width: 100%;
    height: 100%;
}

.message {
    grid-area: epa;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

.weather_panel.minimised {
    width: 80px;
    height: 80px;
    grid-template-areas: "icon";
    grid-template-columns: auto;
    gap: 0;
    padding: 0;
    font-size: 0;
    bottom: 35px;
}

.alert_panel.minimised {
    width: 60px;
    height: 60px;
    grid-template-areas: "icon";
    grid-template-columns: auto;
    gap: 0;
    padding: 0;
    font-size: 0;
    bottom: 120px;
    justify-content: center;
    align-items: center;
}