.map, .App
{
    height: 100vh;
    width: 100%;
}

@keyframes landing {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
      }
      60% {
        opacity: 1;
        transform:scaleY(0.6) translateY(30px) rotate(-45deg);
      }
      100% {
        transform:  scaleY(1) translateY(0) rotate(-45deg);
      }
  }

/* Add this to your CSS file */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    top: 0;
  }
  40% {
    top: -30px;
  }
  60% {
    top: -15px;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.marker {
    width: 30px;
    height: 44.4px;
    background-size: contain;
    background-repeat: no-repeat;
  }

.start_marker{
    background-image: url('../../assets/images/PTP_A.png');
    width: 45px;
    height: 66.6px;
}

.waypoint1_marker{
  background-image: url(../../assets/images/waypoint1.png)
}
.waypoint2_marker{
  background-image: url(../../assets/images/waypoint2.png)
}
.waypoint3_marker{
  background-image: url(../../assets/images/waypoint3.png)
}
.waypoint4_marker{
  background-image: url(../../assets/images/waypoint4.png)
}
.waypoint5_marker{
  background-image: url(../../assets/images/waypoint5.png)
}

.end_marker{
    background-image: url('../../assets/images/PTP_B.png');
    width: 45px;
    height: 66.6px;
}

.poi_marker{
    background-image: url('../../assets/images/POI_marker.png');
}

.park_marker{
  background-image: url('../../assets/images/flora.png');
}

/* Styling for marker types in single-complaint-type markers */
.noise_high_marker {
  background-image: url('../../assets/images/orange_volume.png');
}

.noise_very_high_marker {
  background-image: url('../../assets/images/high_volume.png');
}

.garbage_high_marker {
  background-image: url('../../assets/images/rubbish_orange.png');
}

/* Replace  with streets condition marker*/
.other_high_marker {
  background-image: url('../../assets/images/Road_Warning_orange.png');
}
.garbage_very_high_marker {
  background-image: url('../../assets/images/rubbish.png');
}


.multi_high_marker {
  background-image: url('../../assets/images/orange_warning.png'); 
}

.multi_very_high_marker {
  background-image: url('../../assets/images/red_warning.png'); 
}

.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0; /* Ensure the map is beneath the video */
}

.mapUnfoldVid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; /* Ensures the video is on top of the map */
}

.mapboxgl-popup-close-button{
  margin-right: 3px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content{
  border-radius: 10px;
}  

.busyness-tooltip{
  height:40px;
}

@media only screen and (max-width: 500px) 
{
  .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl
  {
    margin: 5px 5px 0 0;
  }
}

.mapboxgl-ctrl-geocoder--input .night{
  color: white;
}

.popup-content-311{
  font-weight: bold;
}
