/* AutoLocationButton.css */
.autobutton {
    display: inline-block;
    cursor: pointer;
}

.autobutton svg {
    height: 36px;
    width: auto;
    transition: color 0.3s ease;
}

.autobutton svg:hover {
    cursor: pointer;
}

/* Default mode */
.autobutton svg {
    color: #198754;
}

.autobutton svg:hover {
    color: #31b678;
}

/* Night mode */
.autobutton.night-mode svg {
    color: #31b678; 
}

.autobutton.night-mode svg:hover {
    color: #198754; 
}

/* Color-blind mode */
.autobutton.color-blind-mode svg {
    color: #9881f5;
}

.autobutton.color-blind-mode svg:hover {
    color: #9151CC;
}

.autobutton.color-blind-mode.night-mode svg {
    color: #9881f5;
}

.autobutton.color-blind-mode.night-mode svg:hover {
    color: #9151CC;
}
