.intro {
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #cfcfca, #fefff8);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 500px;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.logo.active {
    opacity: 1;
    transform: translateY(-10%);
}

.logo.fade {
    opacity: 0;
    transform: translateY(-30%);
}

.text {
    font-size: 2rem;
    font-style: italic;
    color: #929292;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.text.active {
    opacity: 1;
    transform: translateY(-10%);
}

.text.fade {
    opacity: 0;
    transform: translateY(-30%);
}

.start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10; /* Ensure the button is on top */
    transition: opacity 2s ease;
    opacity: 0;
}

.start-button.active {
    opacity: 1;
}

.start-button:hover {
    background-color: #47c498;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 80%;
    }
    .text {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        width: 100%;
    }
    .text {
        font-size: 1.2rem;
    }
}
