/* NightModeButton.css */
.night_button_container {
    display: flex;
    justify-content: left;
  }
  
  .toggle_night_mode {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px black solid;
    margin-left: 10%;
    width: 100%;
  }
  
  .toggle_night_mode:hover {
    background-color: #f0f0f0;
  }
  