.legend {
    position: fixed;
    top: 0;
    right: -305px;
    width: 305px;
    top: 20%;
    height: 45%;
    background-color: #4b4f5c;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 1s ease;
    z-index: 500;
    border-radius: 20px 0 0 20px;
    opacity: 0.8;
    color: rgb(224, 221, 221);
}

.legend.night {
    background-color: #4b4f5c;
    color: rgb(224, 221, 221);
}

.legend.day {
    background-color: #f9faf3;
    color: rgb(0, 0, 0);
}

.legend.open {
    right: 0;
}

.toggle-btn-legend {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -36px;
    transform-origin: top left;
    height: 200px;
    border-radius: 40px 0 0 40px;
    background-color: #4b4f5c;
    box-shadow: 0 5px rgba(0,0,0,0.5);
    border-color: #2e323f;
    color: #198754;
}

.toggle-btn-legend.night {
    background-color: #4b4f5c;
    border-color: #4b4f5c;
}

.toggle-btn-legend.day {
    background-color: #f9faf3;
    border-color: #f9faf3;
}

.toggle-btn-legend.color-blind {
    color: #62309C;
  }

.toggle-btn-legend.color-blind:hover {
    color: #9151cc;
}
.legend-content {
    font-style: normal;
    padding: 20px;
    max-height: calc(100%);
    overflow-y: auto;
}

.legend-content ul {
    list-style-type: none;
    padding-left: 0;
}

.legend-content ul li:nth-child(1),
.legend-content ul li:nth-child(2),
.legend-content ul li:nth-child(3) {
    display: block;
}


.legend-content ul li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.legend-content ul li img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.busy_go_row {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.container_title {
    font-size: 38px;
    font-weight: bold;
}

@media only screen and (max-width: 388px) 
{
  .container_title {
    font-size: 30px;
  }
}

.toggle_title_row {
    display: flex;
}

.toggle-btn-legend:hover {
    background-color: #444a5c;
    border-color: #444a5c;
    color: #31b678;
}

.toggle-btn-legend.night:hover {
    background-color: #444a5c;
    border-color: #444a5c;
    color: #31b678;
}

.toggle-btn-legend.day:hover {
    background-color: #e7e4e4;
    border-color: #e7e4e4;
    color: #31b678;
}

.toggle-btn-legend.night.color-blind:hover {
    background-color: #444a5c;
    border-color: #444a5c;
    color: #62309C;
}

.toggle-btn-legend.day.color-blind:hover {
    background-color: #e7e4e4;
    border-color: #e7e4e4;
    color: #62309C;
}

.container_title {
    color: rgb(224, 221, 221);
}

.disabled-button {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed;
}

.button-container {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.toggle-button {
    background-color: #198754;
    border-color: #198754;
}

.toggle-button:hover {
    background-color: #31b678;
    border-color: #31b678;
}

.toggle-button.disabled {
    background-color: #198754;
    border-color: #198754;
}

  .legend-bar-container {
    margin-top: 20px;
  }
  
  .legend-bar {
    display: flex;
    height: 20px;
  }
  
  .legend-bar-segment {
    flex: 1;
  }
  
  .legend-bar-segment.green {
    background-color: #198754;
  }

  .legend-bar-segment.purple {
    background-color: #62309C;
  }
  
  .legend-bar-segment.orange {
    background-color: orange;
  }
  
  .legend-bar-segment.red {
    background-color: #FF0000;
  }
  
  .legend-bar-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .legend-bar-label {
    font-size: 12px;
    font-weight: bold;
  }

  .legend-bar-title{
    display:flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
  }